{
    "extends": "@istanbuljs/nyc-config-babel",
    "all": true,
    "include": ["lib/**/*.js"],
    "exclude": ["**/*.spec.js","lib/public/didMount.js","lib/public/set.js","lib/connect.js"],
    "instrument": true
}