{
    "extends": "@istanbuljs/nyc-config-babel",
    "all": true,
    "include": ["lib/public/didMount.js","lib/public/set.js"],
    "exclude": ["**/*.spec.js","lib/*.spec.js"],
    "instrument": true
}